@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Portal taneczny</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Witaj na portalu tanecznym</h2>
        <p>
            Portal jest stworzony z myślą o szkołach tańca oraz osobach, które chciałyby odnaleźć odpowiedni kurs i szkołę dla siebie
        </p>
    </div>
    <div class="photoDancing">
        <img src="../../Image/taniec.jpg" width="419" height="451" style="float:right;padding:15px" alt="Tu podaj tekst alternatywny">
    </div>
</div>